################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P2PProject/FileContentIndex/1f9991e8-e4b1-4b26-bc4a-bfeac3a376b1.vsidx
/.vs/P2PProject/FileContentIndex/4f26453f-ded1-4ae2-ba40-b73ebb4d653a.vsidx
/.vs/P2PProject/FileContentIndex/836aebe7-8569-4e95-b832-f374f5f54f76.vsidx
/.vs/P2PProject/FileContentIndex/9a6262c4-c11d-4bd5-bb02-793edc18d252.vsidx
/.vs/P2PProject/FileContentIndex/2ee253cc-93b2-46dd-906e-1f4222dcac60.vsidx
/.vs/P2PProject/FileContentIndex/aa7635b1-0f96-4444-8174-c5458f7def8f.vsidx
/.vs/P2PProject/FileContentIndex/d31bc948-253e-4f5a-8ce2-7adf7ffcccd4.vsidx
/.vs/P2PProject/FileContentIndex/60846491-99da-4de4-845d-fff27eb1a1c2.vsidx
